<div class="inner-page">
<div><b>שם התלמיד: </b>{{studentId | showDescription: studentsList : 'studentId': 'studentName'}}</div> 
<div class="table-holder">
<h1>יומן פגישות:</h1>
<table mat-table [dataSource]="meetings" class="mat-elevation-z8">
    
    <ng-container matColumnDef="meetingId">
        <th class="header id-col" mat-header-cell *matHeaderCellDef> מס' פגישה </th>
        <td mat-cell *matCellDef="let element"> {{element.meetingId}} </td>
    </ng-container>

    <ng-container matColumnDef="meetingDate">
        <th class="header date-col" mat-header-cell *matHeaderCellDef> תאריך </th>
        <td mat-cell *matCellDef="let element"> {{ element.meetingDate | date : 'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="subject">
        <th class="header subject-col" mat-header-cell *matHeaderCellDef> מקצוע </th>
        <td mat-cell *matCellDef="let element">
            {{element.subjectId | showDescription: subjectsList : 'subjectId' : 'subjectName'}} </td>
    </ng-container>

    <ng-container matColumnDef="meetingDetails">
        <th class="header details-col" mat-header-cell *matHeaderCellDef> פרטים:</th>
        <td mat-cell *matCellDef="let element"> {{element.meetingDetails}} </td>
    </ng-container>

    <ng-container matColumnDef="nextMeetingDate">
        <th class="header next-date-col" mat-header-cell *matHeaderCellDef> תאריך פגישה הבאה</th>
        <td mat-cell *matCellDef="let element"> {{element.nextMeetingDate | date : 'shortDate'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</div>